/.vs
*.vcxproj.user
*.pro.user
/Compiler/Debug
/Compiler/Release
/Compiler/x64
/Tests/Debug
/Tests/Release
/Tests/x64
/Debug
/Release
/x64
*.o
*Makefile
/.qmake.stash
/Benchmarks/protobuf/protobuf-*
/Benchmarks/protobuf/protoc-*
/Benchmarks/flatbuffers/flatc-*
/Benchmarks/capnproto/capnproto-*
/Benchmarks/x64
*.qmake.stash
*Makefile.*
